.question {
  margin-bottom: 200px;

  &__container {
    padding: 0;
  }

  &__title {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1620px;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 120px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 450px) {
    margin-bottom: 60px;
  }
}

.accordion {
  &__control {
    border: none;
    border-top: 3px solid var(--color-gray);
    width: 100%;
    background-color: transparent;
    cursor: pointer;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      padding-top: 35px;
      padding-bottom: 35px;
      max-width: 1570px;

      @media screen and (max-width: 1024px) {
        padding-top: 25px;
        padding-bottom: 25px;
      }

      @media screen and (max-width: 450px) {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    @media screen and (max-width: 1440px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__icon {
    width: 37px;
    height: 37px;

    path {
      transform-origin: center;
      transition: transform 0.3s ease-in-out;
    }

    @media screen and (max-width: 768px) {
      width: 30px;
      height: 30px;
    }

    @media screen and (max-width: 450px) {
      width: 20px;
      height: 20px;
    }
  }

  &__title {
    margin: 0;
    font: 500 30px / 35px "Roboto", sans-serif;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
      line-height: 25px;
    }

    @media screen and (max-width: 768px) {
      max-width: 90%;
      text-align: left;
    }

    @media screen and (max-width: 450px) {
      font-size: 10px;
      line-height: 11px;
    }
  }

  &__content {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 var(--sides-padding);
    max-width: 1570px;
    max-height: 0;
    box-sizing: content-box;
    font: 400 30px / 35px "Roboto", sans-serif;
    color: #505050;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    will-change: max-height;

    p {
      margin: 0;
      max-width: 1400px;
    }

    @media screen and (max-width: 1440px) {
      padding-right: 15px;
      padding-left: 15px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 20px;
      line-height: 25px;
    }

    @media screen and (max-width: 450px) {
      font-size: 10px;
      line-height: 11px;
    }
  }

  &:last-child {
    border-bottom: 3px solid var(--color-gray);
  }
}

.open .accordion__content {
  padding-bottom: 25px;
  opacity: 1;

  @media screen and (max-width: 450px) {
    padding-bottom: 10px;
  }
}

.open .accordion__control-wrapper {
  padding-bottom: 25px;
  opacity: 1;

  @media screen and (max-width: 450px) {
    padding-bottom: 10px;
  }
}

.open .accordion__control {
  border-top-color: var(--color-accent);
}

.accordion:last-child.open {
  border-bottom: 3px solid var(--color-accent);
}

.open + .accordion .accordion__control {
  border-top-color: var(--color-accent);
}

.open .accordion__icon {
  path {
    stroke: var(--color-accent);
  }

  path:last-child {
    transform: rotate(90deg);
  }
}