<section class="about" data-scroll id="about">
  <div class="container about__container">
    <h2 class="about__title section-title">О компании</h2>
    <div class="about__item about__item--right">
      <div class="about__text">
        <p>Компания МегаТорг специализируется на изготовлении торговых и выставочных витрин и стеллажей на заказ. Более 9 лет изготавливаем индивидуальные изделия для бизнеса и музеев.</p>
        <p>На сегодняшний день мы выпустили более 2160 единиц мебели и реализовали 700 успешных проектов.</p>
        <p>Благодаря собственному мебельному и стекольному производству мы предлагаем самые выгодные условия и высококачественный конечный продукт. Наше производство эффективно отлажено. Благодаря этому сроки изготовления, в среднем, 10 дней.</p>
      </div>
      <div class="about__image">
        <img src="img/about-image-1.jpg" aria-hidden="true">
      </div>
    </div>
    <div class="about__item about__item--left">
      <div class="about__text">
        <p>Помимо мебели, мы так же предоставляем услуги по резке и обработке стекла и зеркал на заказ.</p>
        <p>Каждый год мы совершенствуем наши производственные цеха, что кратно увеличивает качество и скорость изготовления. С нами сотрудничают такие крупные компании, как: “ЭРМИТАЖ”, “Четыре глаза”, “Созвездие красоты”, “Галактика”, “АргусСпектр”, “Галактика”, “Народная аптека”, “SOLGAR”, “Фруктовый рай”.</p>
        <p>Мы динамично развиваемся, создаем лучшие условия, выгодные цены и всегда рады новым постоянным клиентам.</p>
        <p>Оставляйте заявку на сайте и убедитесь в  экспертности наших специалистов!</p>
        <a href="#form" class="about__link scroll-link">Оставить заявку</a>
      </div>
      <div class="about__image">
        <img src="img/about-image-2.jpg" aria-hidden="true">
      </div>
    </div>
  </div>
</section>