<section class="benefits" data-scroll id="benefits">
  <div class="benefits__container container">
    <h2 class="benefits__title section-title">Почему стоит выбрать нас</h2>
    <div class="benefits__wrapper">
      <div class="benefits__item benefits__tem--left">
        <div class="benefits__image">
          <img src="img/benefits-image-1.jpg">
        </div>
        <div class="benefits__descr">
          <div class="benefits__descr-item">
            <span class="benefits__descr-number benefits__descr-number--accent">01</span>
            <p class="benefits__descr-text">Обладая производственной площадью более 600 кв.м. имеем возможность выстраивать рабочие цепочки так эффективно, чтобы увеличивалась скорость выпуска до 10 дней без потери качества. </p>
          </div>
          <div class="benefits__descr-item">
            <span class="benefits__descr-number benefits__descr-number--main">02</span>
            <p class="benefits__descr-text">Мы работаем с большим ассортиментов материалов. Изготавливаем от эконом сегмента, где важен объем и скорость сборки, до премиум класса, где важны детали, оттенки цветов и выделяющийся дизайн.</p>
          </div>
        </div>
      </div>
      <div class="benefits__item benefits__item--right">
        <div class="benefits__image">
          <img src="img/benefits-image-2.jpg">
        </div>
        <div class="benefits__descr">
          <div class="benefits__descr-item">
            <span class="benefits__descr-number benefits__descr-number--accent">03</span>
            <p class="benefits__descr-text">Штатные конструктора разрабатывающие документацию перед изготовлением учитывают все нюансы производственного цикла, что исключает ошибки или переделку конструкций. Так же это позволяет увидеть изделие онлайн и скорекктировать под вашу потребность.</p>
          </div>
          <div class="benefits__descr-item">
            <span class="benefits__descr-number benefits__descr-number--main">04</span>
            <p class="benefits__descr-text">За наш богатый 9-летний опыт работы мы научились предугадывать, что вам нужно и учитываем все пожелания с момента заявки.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="benefits__button-wrapper">
      <a href="#form" class="benefits__button btn-reset button button--small scroll-link">Заказать</a>
    </div>
  </div>
</section>