<footer class="footer">
  <div class="footer__container container">
    <div class="footer__copyright">
      <div class="footer__copyright-text">2021 Все права защищены</div>
      <a href="#" class="footer__policy">Политика Конфиденциальности</a>
    </div>
    <img class="footer__logo" src="img/logo.png" alt="logo">
    <ul class="footer__menu list-reset">
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">О компании</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Почему мы?</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Галерея</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Вопросы и ответы</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Отзывы</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Контакты</a>
      </li>
    </ul>
    <ul class="footer__contacts list-reset">
      <li class="footer__contacts-item">
        <div class="footer__contacts-title">Адрес</div>
        <div class="footer__contacts-text">Санкт-Петербург, Цветочная улица, 2</div>
      </li>
      <li class="footer__contacts-item">
        <div class="footer__contacts-title">Телефон</div>
        <a class="footer__contacts-text footer__contacts-phone" href="tel:+78129292054">+7 (812) 929-20-54</a>
      </li>
      <li class="footer__contacts-item">
        <div class="footer__contacts-title">График работы</div>
        <div class="footer__contacts-text">Пн-Пт с 9:00 до 18:00</div>
      </li>
    </ul>
    <div class="footer__authors">
      <a href="#" class="footer__author">Designed by: Alena Yarisheva</a>
      <a href="#" class="footer__author">Developed by: Timofey Krivenkov</a>
    </div>
  </div>
</footer>
