<section class="form-section" data-scroll id="form">
  <h2 class="form-section__title section-title">Обратная связь</h2>
  <div class="form-background">
    <form class="form">
      <h3 class="form__title">Заполните форму и мы свяжемся с вами</h3>
      <div class="form__subtitle">Акция! При заказе мебели этой осенью — <span>скидка 20%</span></div>
      <input class="form__input form__input--phone" type="tel" name="userPhone" id="phone" placeholder="Телефон">
      <input class="form__input form__input--email" type="email" name="userEmail" id="email" placeholder="E-mail">
      <button class="form__submit" type="submit">Оставить заявку</button>
      <div class="form__policy">Оставляя заявку, Вы соглашаетесь с <a class="form__policy-link" href="#">Политикой Конфиденциальности</a></div>
    </form>
  </div>
</section>