<div class="container hero__container">
  <h1 class="hero__title">Торговые и выставочные витрины и стеллажи от производителя</h1>
  <div class="hero__subtitle">под заказ от 5000 руб со сроком изготовления до 10 дней.</div>
  <div class="hero__button-wrapper">
    <a href="#form" class="hero__button button btn-reset scroll-link">Заказать</a>
    <p class="hero__sell">Акция! При заказе мебели этой осенью — <span>скидка 20%</span></p>
  </div>
  <div class="hero__advantages">
    <div class="hero__advantages-item">
      <div class="hero__advantages-number">>700</div>
      <div class="hero__advantages-text">Успешных проектов</div>
    </div>
    <div class="hero__advantages-item">
      <div class="hero__advantages-number">>2160</div>
      <div class="hero__advantages-text">Изделий произведено</div>
    </div>
  </div>
</div>