<section class="partners">
  <div class="partners__container container">
    <h2 class="partners__title section-title">Наши партнёры</h2>
    <div class="partners__slider-block">
      <div class="partners__slider swiper">
        <div class="partners__slider-wrapper swiper-wrapper">
          <div class="partners__slider-slide swiper-slide">
            <img class="partners__slider-image" src="img/partners-1.jpg" alt="">
          </div>
          <div class="partners__slider-slide swiper-slide">
            <img class="partners__slider-image" src="img/partners-2.jpg" alt="">
          </div>
          <div class="partners__slider-slide swiper-slide">
            <img class="partners__slider-image" src="img/partners-3.jpg" alt="">
          </div>
          <div class="partners__slider-slide swiper-slide">
            <img class="partners__slider-image" src="img/partners-4.jpg" alt="">
          </div>
          <div class="partners__slider-slide swiper-slide">
            <img class="partners__slider-image" src="img/partners-5.jpg" alt="">
          </div>
          <div class="partners__slider-slide swiper-slide">
            <img class="partners__slider-image" src="img/partners-6.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="partners__slider-arrow partners__slider-arrow--prev">
        <svg class="partners__slider-arrow-icon">
          <use xlink:href="img/sprite.svg#arrow">
        </svg>
      </div>
      <div class="partners__slider-arrow partners__slider-arrow--next">
        <svg class="partners__slider-arrow-icon">
          <use xlink:href="img/sprite.svg#arrow">
        </svg>
      </div>
    </div>
  </div>
</section>