<section class="portfolio" data-scroll id="portfolio">
  <div class="portfolio__container container">
    <h2 class="portfolio__title section-title">Наши работы</h2>
    <div class="portfolio__slider-block">
      <div class="portfolio__slider swiper">
        <div class="portfolio__slider-wrapper swiper-wrapper">
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-1.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-2.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide portfolio__slider-slide--tall swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-3.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-4.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-5.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-6.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-7.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-8.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-9.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-10.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-10.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-10.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-10.jpg" alt="">
          </div>
          <div class="portfolio__slider-slide swiper-slide">
            <img class="portfolio__slider-image" src="img/portfolio-10.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="portfolio__slider-arrow portfolio__slider-arrow--prev">
        <svg class="portfolio__slider-arrow-icon">
          <use xlink:href="img/sprite.svg#arrow">
        </svg>
      </div>
      <div class="portfolio__slider-arrow portfolio__slider-arrow--next">
        <svg class="portfolio__slider-arrow-icon">
          <use xlink:href="img/sprite.svg#arrow">
        </svg>
      </div>
    </div>
    <div class="portfolio__button-wrapper">
      <a href="#form" class="portfolio__button btn-reset button scroll-link">Заказать</a>
    </div>
  </div>
</section>