<section class="question" data-scroll id="question">
  <div class="question__container container-fluid">
    <h2 class="question__title section-title">Часто задаваемые вопросы</h2>
    <ul class="question__list list-reset">
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <div class="accordion__control-wrapper">
            <h3 class="accordion__title">Хочу заказать у вас мебель, но не могу определиться с дизайном. Вы можете помочь?</h3>
            <svg class="accordion__icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.000244141 19H37.0002" stroke="#AAAAAA" stroke-width="3"/>
              <path d="M19.0002 0L19.0002 37" stroke="#AAAAAA" stroke-width="3"/>
            </svg>
          </div>           
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>Да, наши специалисты выслушают ваши пожелания и, с удовольствием, помогут в принятии решения по дизайну мебели.</p>
        </div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <div class="accordion__control-wrapper">
            <h3 class="accordion__title">Есть ли дополнительные оплаты, после заказа мебели?</h3>
            <svg class="accordion__icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.000244141 19H37.0002" stroke="#AAAAAA" stroke-width="3"/>
              <path d="M19.0002 0L19.0002 37" stroke="#AAAAAA" stroke-width="3"/>
            </svg>
          </div>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Нет. Цены на наши услуги прописаны в договоре. Цена договора фиксирована.
        </div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <div class="accordion__control-wrapper">
            <h3 class="accordion__title">Есть ли гарантия на мебель?</h3>
            <svg class="accordion__icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.000244141 19H37.0002" stroke="#AAAAAA" stroke-width="3"/>
              <path d="M19.0002 0L19.0002 37" stroke="#AAAAAA" stroke-width="3"/>
            </svg>
          </div>
        </button>
        <div class="accordion__content" aria-hidden="true">
          На всю нашу мебель мы предоставляем гарантию на 1 год.
        </div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <div class="accordion__control-wrapper">
            <h3 class="accordion__title">Можно ли делать заказ по индивидуальному дизайну?</h3>
            <svg class="accordion__icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.000244141 19H37.0002" stroke="#AAAAAA" stroke-width="3"/>
              <path d="M19.0002 0L19.0002 37" stroke="#AAAAAA" stroke-width="3"/>
            </svg>
          </div>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Да. Мы специализируемся на производстве мебели на заказ. И поэтому с радостью выполним заказ по вашему дизайну. 
        </div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <div class="accordion__control-wrapper">
            <h3 class="accordion__title">Хочу сделать заказ, что для этого нужно?</h3>
            <svg class="accordion__icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.000244141 19H37.0002" stroke="#AAAAAA" stroke-width="3"/>
              <path d="M19.0002 0L19.0002 37" stroke="#AAAAAA" stroke-width="3"/>
            </svg>
          </div>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Позвоните нам по тел: <a class="accordion__phone" href="tel:+7(812)9292055">8 (812) 92 92 055</a> или <a class="accordion__form-link" href="">заполните заявку</a> на сайте и наши специалисты ответят на все интересующие вас вопросы!
        </div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <div class="accordion__control-wrapper">
            <h3 class="accordion__title">Безопасна ли мебель из ЛДСП?</h3>
            <svg class="accordion__icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.000244141 19H37.0002" stroke="#AAAAAA" stroke-width="3"/>
              <path d="M19.0002 0L19.0002 37" stroke="#AAAAAA" stroke-width="3"/>
            </svg>
          </div>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Да, безопасность материала подтверждена необходимыми сертификатами.</div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <div class="accordion__control-wrapper">
            <h3 class="accordion__title">Предлагаете ли вы скидки клиентам?</h3>
            <svg class="accordion__icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.000244141 19H37.0002" stroke="#AAAAAA" stroke-width="3"/>
              <path d="M19.0002 0L19.0002 37" stroke="#AAAAAA" stroke-width="3"/>
            </svg>
          </div>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Да, мы запускаем акции к праздничным дням. А так же делаем скидки постоянным клиентам.</div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <div class="accordion__control-wrapper">
            <h3 class="accordion__title">Вы собираете мебель?</h3>
            <svg class="accordion__icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.000244141 19H37.0002" stroke="#AAAAAA" stroke-width="3"/>
              <path d="M19.0002 0L19.0002 37" stroke="#AAAAAA" stroke-width="3"/>
            </svg>
          </div>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Да, у нас вы можете заказать услугу по сборке и монтажу мебели. </div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <div class="accordion__control-wrapper">
            <h3 class="accordion__title">Какие документы на мебель вы предоставляете?</h3>
            <svg class="accordion__icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.000244141 19H37.0002" stroke="#AAAAAA" stroke-width="3"/>
              <path d="M19.0002 0L19.0002 37" stroke="#AAAAAA" stroke-width="3"/>
            </svg>
          </div>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Мы предоставим расчетно-кассовые документы, а так же сертификаты на материалы.</div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <div class="accordion__control-wrapper">
            <h3 class="accordion__title">Как считается цена?</h3>
            <svg class="accordion__icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.000244141 19H37.0002" stroke="#AAAAAA" stroke-width="3"/>
              <path d="M19.0002 0L19.0002 37" stroke="#AAAAAA" stroke-width="3"/>
            </svg>
          </div>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Цена зависит от количества и качества используемых материалов и фурнитуры. Мы изготавливаем мебель на любой бюджет, от эконом до премиум сегмента.</div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <div class="accordion__control-wrapper">
            <h3 class="accordion__title">Срок изготовления заказа</h3>
            <svg class="accordion__icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.000244141 19H37.0002" stroke="#AAAAAA" stroke-width="3"/>
              <path d="M19.0002 0L19.0002 37" stroke="#AAAAAA" stroke-width="3"/>
            </svg>
          </div>
        </button>
        <div class="accordion__content" aria-hidden="true">Срок изготовления до 10-ти дней. В отдельных случаях, когда при производстве используются крашенные МДФ фасады, сроки могут быть увеличены до 3-х недель.</div>
      </li>
    </ul>
  </div>
</section>