<section class="reviews" data-scroll id="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title section-title">Отзывы наших клиентов</h2>
    <div class="reviews__slider-block">
      <div class="reviews__slider swiper">
        <div class="reviews__slider-wrapper swiper-wrapper">
          <div class="reviews__slide swiper-slide">
            <img src="img/reviews-1.jpg" class="reviews__slide-image">
            <div class="reviews__slide-descr">
              <div class="reviews__slide-name">Нелли Бородянская</div>
              <div class="reviews__slide-company">Название компании</div>
              <p class="reviews__slide-text">Ребята работают очень оперативно и качественно. Вечером приехал замерщик Максим, очень приятный парень. А через 4 дня у меня уже была кухня. Которая полностью вписалась в размеры. Все подогнано тютелька в тютельку. Все убрали. Мусор вывезли. Недостатков не заметила. Спасибо огромное. Я не ожидала что это возможно. За 4 дня!!!</p>
            </div>
          </div>
          <div class="reviews__slide swiper-slide">
            <img src="img/reviews-1.jpg" class="reviews__slide-image">
            <div class="reviews__slide-descr">
              <div class="reviews__slide-name">Нелли Бородянская</div>
              <div class="reviews__slide-company">Название компании</div>
              <p class="reviews__slide-text">Ребята работают очень оперативно и качественно. Вечером приехал замерщик Максим, очень приятный парень. А через 4 дня у меня уже была кухня. Которая полностью вписалась в размеры. Все подогнано тютелька в тютельку. Все убрали. Мусор вывезли. Недостатков не заметила. Спасибо огромное. Я не ожидала что это возможно. За 4 дня!!!</p>
            </div>
          </div>
          <div class="reviews__slide swiper-slide">
            <img src="img/reviews-1.jpg" class="reviews__slide-image">
            <div class="reviews__slide-descr">
              <div class="reviews__slide-name">Нелли Бородянская</div>
              <div class="reviews__slide-company">Название компании</div>
              <p class="reviews__slide-text">Ребята работают очень оперативно и качественно. Вечером приехал замерщик Максим, очень приятный парень. А через 4 дня у меня уже была кухня. Которая полностью вписалась в размеры. Все подогнано тютелька в тютельку. Все убрали. Мусор вывезли. Недостатков не заметила. Спасибо огромное. Я не ожидала что это возможно. За 4 дня!!!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews__slider-arrow reviews__slider-arrow--prev">
        <svg class="reviews__slider-arrow-icon">
          <use xlink:href="img/sprite.svg#arrow">
        </svg>
      </div>
      <div class="reviews__slider-arrow reviews__slider-arrow--next">
        <svg class="reviews__slider-arrow-icon">
          <use xlink:href="img/sprite.svg#arrow">
        </svg>
      </div>
    </div>
    <div class="reviews__slider-pagination swiper-pagination"></div>
  </div>
</section>