// colors
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-main: #2f5d7a;
  --color-accent: #d8606a;
  --color-main-tint: #bfcdd6;
  --color-accent-tint: #f3ced1;
  --color-dark: #161616;
  --color-gray: #aaa;
  --color-light-gray: #9b9b9b;
  --color-dark-gray: #898989;
  --color-footer-bg: #2d2d2d;
}
